pillow==10.3.0
protobuf==4.25.3
addict==2.4.0
future==1.0.0
lpips==0.1.4
numpy==1.26.4
onnxruntime==1.18.0
opencv-python==4.10.0.82
pillow==10.3.0
PyYAML==6.0.1
requests==2.32.3
scikit-image==0.23.2
scipy==1.13.1
setuptools==70.0.0
tb-nightly==2.18.0a20240611
torch>=1.7.1
torch==2.3.1
torchvision==0.18.1
tqdm==4.66.4
typing_extensions==4.12.2
yapf==0.40.2
insightface>=0.7.3
